/*
	CSS CEP
*/
/*

/* Nav */

#nav {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 0.9em;
}

#nav ul li {
    float: left;
    line-height: 4.5em;
    padding-left: 1.5em;
}

#nav ul li a,
#nav ul li span {
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
    -ms-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out;
    font-weight: 800;
    letter-spacing: 0.025em;
    color: #696969;
    text-decoration: none;
    border-radius: 6px;
    padding: 0.5em 1em 0.5em 1em;
}

#nav ul li>ul {
    display: none;
}

#nav ul li:hover a,
#nav ul li:hover span {
    background: #fff;
}

#nav ul li.active a,
#nav ul li.active span {
    background: #fff;
}

#nav ul li.current a {
    background: #444;
    color: #fff;
}