/*
	CSS CEP
*/

/* Progress bar */
.a_progress_container {
    width: 100%;
    background-color: grey;
}

.a_progress_bar {
    width: 1%;
    height: 30px;
    background-color: green;
}

progress {
  width: 100%;
  height: 30px;
  border-radius: 7px;
  box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 );
}

/* .a_success_button {
	color:white;
	background-color:blue;
	
} */
