{% extends "base.html" %}
{% load static %}
<!--
	Verti by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
{% block title %}{{ title }}{% endblock %}

{% block content %}

<section class="row text-center" id="tm-section-1">
	<div class="col">
		<h1>Générateur de Tarif</h1>
		<h2>Les compagnons du CEP</h2>
		<h4>Arnaud Joset</h4>
	</div>
</section>

<section class="tm-section-2 tm-section-mb" id="tm-section-2">
	<div class="row">
		<div class="col w-100">
			<header class="text-center">
				<i class="fa fa-4x fa-rocket pl-5 pb-5 pr-5 pt-2"></i>
			</header>
			<h2>Actions</h2>
			<ul>
				<li class=""><a href="/tarif/">Générer tarif</a></li>
				<li class=""><a href="/tarif/pdf">Générer le PDF</a></li>
				<li class=""><a href="/static/withdraw/tarif/upload">Fichiers uploadés</a></li>
				<li class=""><a href="/static/withdraw/tarif/download">Tarifs générés</a></li>
			</ul>
		</div>
	</div>
</section>


{% endblock %}