<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <!--

    Template 2103 Central

	http://www.tooplate.com/view/2103-central

    -->
    <link rel="stylesheet" href="{% static 'assets/font-awesome-4.5.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tooplate-style.css' %}">
    <link rel="stylesheet" href="{% static 'cep.css' %}"/>
        
    <script>
        const renderPage = true;
    </script>
</head>

<body>
    <div class="container">
        <section class="tm-section-head" id="top">
            <div class="row">
                <div class="col w-100">
                    <!-- Nav -->
                    <nav id="nav" class="col text-right">
                        <ul class="d-flex-right">
                            <li class="btn bg-info current"><a class="text-light" href="/">Accueil</a></li>
                            <li class="btn bg-info">
                                <a class="text-light" href="https://cep.agayon.be" target="_blank">Gestionnaire CEP</a>
                            </li>
                            <li class="dropdown d-inline-block show">
                                <a class="btn bg-info text-light dropdown-toggle" href="/tarif/" role="button" id="dropdownMenuLink"
                                    data-toggle="dropdown">Tarif</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li class="d-block dropdown-item"><a href="/tarif/">Générer tarif</a></li>
                                    <li class="d-block dropdown-item"><a href="/tarif/pdf">Générer le PDF</a></li>
                                    <li class="d-block dropdown-item"><a href="/static/withdraw/tarif/upload">Fichiers
                                            uploadés</a></li>
                                    <li class="d-block dropdown-item"><a href="/static/withdraw/tarif/download">Tarifs
                                            générés</a></li>
                                </ul>
                            </li>
                            <li class="btn bg-info">
                                <a class="text-light" href="/admin/">Admin</a>
                            </li>
                        </ul>
                    </nav>
                </div>


            </div>

        </section>

        <!-- Features and content -->
        {% block content %}{% endblock %}

        <footer class="mt-5">
            <p class="text-center">Copyright © 2023 Les compagnons du CEP - Design:
                <a rel="nofollow" href="http://www.tooplate.com/view/2103-central" target="_parent"
                    class="tm-text-black">Central</a>
            </p>
        </footer>
    </div>

    <!-- load JS files -->
    <script type="text/javascript" src="{% static 'assets/js/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <!-- CEP Custom JS -->
    <script src="{% static 'cep.js' %}"></script>

    <script>
        $(document).ready(function () {
            if (renderPage) {
                const element = document.querySelector('body');
                element.classList.add("loaded");
            }
        });
    </script>

</body>

</html>