{% extends "base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<!-- Main -->
<div id="main-wrapper">
    <div class="container">
        <div id="content">
            <!-- Content -->
            <article>
                <h3>Générer le tarif</h3>

                <div>
                    {% if messages %}
                    <ul class="messages a_message">
                        {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>


                Trois possibilités:
                <ul>
                    <li>&#x2705; Import fichier xlsx</li>
                    <li>&#x2705; Générer à partir du dernier fichier tarif xlsx</li>
                    <li>❌ Import fichier LaTeX (seul les prix sont ajoutables, le canevas est non modifiable
                        ici)
                    </li>
                </ul>


                <form enctype="multipart/form-data" method="post" action="{% url 'tarif_index' %}">
                    {% csrf_token %}
                    <table>
                        {{form}}
                    </table>
                    <input type="submit" value="Upload du fichier" id="price_list_file" class="btn rounded bg-info text-white"/>
                </form>
                <div>
                    <!--                TODO:     onclick et changer visibilité du champs id_manual_breaks-->
                    <!--                $('input[name=pagebreaks]:checked').val();-->
                </div>
                <p>Liste des fichiers précédemments envoyés:</p>
                <!-- List of uploaded documents -->
                {% if documents_upload %}
                <ul class="a_list">
                    {% for doc in documents_upload %}
                    <li><a href="/static/withdraw/tarif/upload/{{ doc }}">{{ doc }}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                pas de document.
                {% endif %}
                Liste tarifs générés:
                <!-- List of uploaded documents -->
                {% if documents_download %}
                <ul class="a_list">
                    {% for doc in documents_download %}
                    <li><a href="/static/withdraw/tarif/download/{{ doc }}">{{ doc }}</a></li>
                    {% endfor %}
                </ul>
                <p>
                    {% else %}
                    pas de document.
                    {% endif %}
                </p>

            </article>

        </div>
    </div>
</div>
{% endblock %}