{% extends "base.html" %}
{% load static %}


{% block title %}{{ title }}{% endblock %}
{% block content %}
<!-- Main -->
<div id="main-wrapper">
    <div class="container">
        <div id="content">

            <!-- Content -->
            <article>

                {{ msg|linebreaks }}




            </article>

        </div>
    </div>
</div>
{% endblock %}