{% extends "base.html" %}
{% load static %}


{% block title %}{{ title }}{% endblock %}
{% block content %}
<!-- Main -->
<div id="main-wrapper">
    <div class="container">
        <div id="content">

            <!-- Content -->
            <article>
                <h2>Générer le PDF</h2>
                {% if messages %}
                <ul class="messages a_message">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <h1>Liste des options</h1>
                {{ msg|linebreaks }}
                <form method="post" action="{% url 'tarif_pdf' %}">
                    {% csrf_token %}
                    <table>
                        {{form}}
                    </table>
                    <input type="submit" value="Valider" id="pdf_tarif" name="pdf_tarif"
                           class="btn bg-primary text-light"/>
                </form>
            </article>

        </div>
    </div>
</div>
{% endblock %}

