{% extends "base.html" %}
{% load static %}


{% block title %}{{ title }}{% endblock %}
{% block content %}
<!-- Main -->
<div id="main-wrapper">
    <div class="container">
        <div id="content">

            <!-- Content -->
            <article>
                <h2>{{ section_title }}</h2>
                <h1>{{ subtitle }}</h1>
                {{ msg|linebreaks }}
                {% if error_nbr %}
                <h1> {{ error }}</h1>
                {% endif %}
                {% if form_tex %}
                <form method="get" action="/tarif/pdf">
                    <button type="submit" class="btn rounded bg-info text-white"
                    >Formulaire PDF
                </button>
                </form>
                {% endif %}
                {% if form_pdf %}
                <div id="a_progress_container">
                    <label for="a_progress_bar">Génération du PDF</label>
                    <progress class = "a_progress" id="a_progress_bar" 
                    class="" value="0" max="100">0%</progress>
                </div>
                <form id="a_pdf_download" method="get" action="/static/withdraw/tarif/download" style="display:none">
                    <button type="submit" class="btn rounded bg-info text-white">Télécharger le tarif généré</button>
                </form>
                {% endif %}
            </article>

        </div>
    </div>
</div>
{% endblock %}